<div class="super_overlay"></div>

<!-- Home -->

<div class="home">

    <!-- Home Slider -->
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">

            <!-- Slide -->
            <div class="slide">
                <div class="background_image" style="background-image:url(../../Content/images/index.jpg)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 offset-xl-2">
                                <div class="home_content text-center">
                                    <div class="home_title"><h1>La mejor guia de Mexicali</h1></div>
                                    <div class="search_form_container">
                                        <form action="#" class="search_form" id="search_form">
                                            <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
                                                <input type="text" class="search_input" placeholder="¿Qué estas buscando?" required="required">
                                                <button class="search_button">Buscar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            @*<div class="slide">
                    <div class="background_image" style="background-image:url(../../Content/images/index.jpg)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 offset-xl-2">
                                    <div class="home_content text-center">
                                        <div class="home_title"><h1>The Best City Guide</h1></div>
                                        <div class="search_form_container">
                                            <form action="#" class="search_form" id="search_form">
                                                <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
                                                    <input type="text" class="search_input" placeholder="What are you looking for?" required="required">
                                                    <button class="search_button">Search</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

            <!-- Slide -->
            @*<div class="slide">
                    <div class="background_image" style="background-image:url(../../Content/images/index.jpg)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 offset-xl-2">
                                    <div class="home_content text-center">
                                        <div class="home_title"><h1>The Best City Guide</h1></div>
                                        <div class="search_form_container">
                                            <form action="#" class="search_form" id="search_form">
                                                <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
                                                    <input type="text" class="search_input" placeholder="What are you looking for?" required="required">
                                                    <button class="search_button">Search</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>

        <!-- Home Slider Dots -->
        @*<div class="home_slider_dots">
                <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                    <li class="home_slider_custom_dot active">01.</li>
                    <li class="home_slider_custom_dot">02.</li>
                    <li class="home_slider_custom_dot">03.</li>
                </ul>
            </div>*@

    </div>
</div>

<!-- Categories -->

<div class="categories">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="categories_container d-flex flex-md-row flex-column align-items-start justify-content-start">

                    <!-- Category -->
                    <div class="category text-center">
                        <a href="@Url.Action("Index", "List")">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/Content/images/icon_1.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                <div class="cat_title">Restaurantes</div>
                            </div>
                        </a>
                    </div>

                    <!-- Category -->
                    <div class="category text-center">
                        <a href="@Url.Action("Index", "List")">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/Content/images/hanger.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                <div class="cat_title">Ropa</div>
                            </div>
                        </a>
                    </div>

                    <!-- Category -->
                    <div class="category text-center">
                        <a href="@Url.Action("Index", "List")">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/Content/images/tire.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                <div class="cat_title">Llanteras</div>
                            </div>
                        </a>
                    </div>

                    <!-- Category -->
                    <div class="category text-center">
                        <a href="@Url.Action("Index", "List")">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/Content/images/trolley.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                <div class="cat_title">Abarrotes</div>
                            </div>
                        </a>
                    </div>

                    <!-- Category -->
                    <div class="category text-center">
                        <a href="@Url.Action("Index", "List")">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/Content/images/car.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                <div class="cat_title">Mecanicos</div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Locations -->

<div class="locations container_custom">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center"><h1>Agregados recientemente</h1></div>
                <div class="locations_container d-flex flex-row align-items-start justify-content-between flex-wrap">
                        <div class="location">
                            <img src="~/Content/images/fondo.jpg" alt="">
                            <div class="location_title text-center"><div><a href="#">Lorem</a></div></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Food -->

<div class="food container_custom">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center"><h1>Encuentra los mejores lugares cerca de ti</h1></div>
                <div class="grid_container grid">

                    <!-- Grid Item -->
                    <div class="grid-item grid_large">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Mecánicos</a></div>
                            <div class="background_image" style="background-image: url(../../Content/images/food_1.jpg)"></div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_small">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Llanteras</a></div>
                            <div class="background_image" style="background-image: url(../../Content/images/food_2.jpg)"></div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_medium">
                        <div>
                            <div class="grid_half">
                                <div class="food_item">
                                    <div class="food_item_tag"><a href="#">Abarrotes</a></div>
                                    <div class="background_image" style="background-image:url(../../Content/images/food_3.jpg)"></div>
                                </div>
                            </div>
                            <div class="grid_half">
                                <div class="food_item">
                                    <div class="food_item_tag"><a href="#">Farmacias</a></div>
                                    <div class="background_image" style="background-image:url(../../Content/images/food_4.jpg)"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_medium">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Boutiques</a></div>
                            <div class="background_image" style="background-image:url(../../Content/images/food_5.jpg)"></div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_small">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Imprentas</a></div>
                            <div class="background_image" style="background-image:url(../../Content/images/food_6.jpg)"></div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_large">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Papelerias</a></div>
                            <div class="background_image" style="background-image:url(../../Content/images/food_7.jpg)"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- How it works -->

<div class="how container_custom">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center"><h1>¿Cómo funciona<span> Shopay</span>?</h1></div>
                <div class="icon_box_container d-flex flex-row align-items-start justify-content-between flex-wrap">

                    <!-- Icon Box -->
                    <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                        <div class="icon_box_num">01.</div>
                        <div class="icon_box_icon"><img src="~/Content/images/icon_6.svg" alt="https://www.flaticon.com/authors/monkik"></div>
                        <div class="icon_box_title">Elige una categoria</div>
                        <div class="icon_box_text">
                            <p>Donec cursus, risus non fermentum lacinia, felis lectus interdum velit, in pulvinar enim justo at sem. Quisque ut semper neque. Suspendisse quam est</p>
                        </div>
                    </div>

                    <!-- Icon Box -->
                    <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                        <div class="icon_box_num">02.</div>
                        <div class="icon_box_icon"><img src="~/Content/images/icon_7.svg" alt="https://www.flaticon.com/authors/monkik"></div>
                        <div class="icon_box_title">Encuentra tu lugar</div>
                        <div class="icon_box_text">
                            <p>Donec cursus, risus non fermentum lacinia, felis lectus interdum velit, in pulvinar enim justo at sem. Quisque ut semper neque. Suspendisse quam est</p>
                        </div>
                    </div>

                    <!-- Icon Box -->
                    <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                        <div class="icon_box_num">03.</div>
                        <div class="icon_box_icon"><img src="~/Content/images/icon_8.svg" alt="https://www.flaticon.com/authors/monkik"></div>
                        <div class="icon_box_title">Ordena </div>
                        <div class="icon_box_text">
                            <p>Donec cursus, risus non fermentum lacinia, felis lectus interdum velit, in pulvinar enim justo at sem. Quisque ut semper neque. Suspendisse quam est</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- CTA -->

<div class="cta container_custom">
    <div class="parallax_background" data-image-src="../../Content/images/cta.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_content">
                    <div class="cta_title"><h1>Encuentra los mejores lugares de la ciudad</h1></div>
                    <div class="cta_text">
                        <p>Donec cursus, risus non fermentum lacinia, felis lectus interdum velit, in pulvinar enim justo at sem. Quisque ut semper neque. Suspendisse quam est, consequat ullamcorper tellus et, fauci bus laoreet nibh.</p>
                    </div>
                    <div class="button cta_button"><a href="listings.html">Mira la lista</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CTA 2 -->

<div class="cta_2">
    <div class="container">
        <div class="row row-lg-eq-height">
            <div class="col-lg-9 cta_2_col">
                <div class="cta_2_content">
                    <div class="cta_2_title"><h1>Descarga la app de <span>Shopay</span></h1></div>
                    <div class="cta_2_text">
                        <p>Donec cursus, risus non fermentum lacinia, felis lectus interdum velit, in pulvinar enim justo at sem. Quisque ut semper neque. Suspendisse quam est, consequat ullamcorper tellus et, fauci bus laoreet nibh.Donec cursus, risus non fermentum lacinia, felis lectus interdum velit, in pulvinar enim justo at sem.</p>
                    </div>
                    <div class="store_links d-flex flex-row align-items-start justify-content-start flex-wrap">
                        <div class="store_link"><a href="#"><img src="~/Content/images/store_1.jpg" alt=""></a></div>
                        <div class="store_link"><a href="#"><img src="~/Content/images/store_2.jpg" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 cta_2_col">
                <div class="cta_2_image">
                    <img src="~/Content/images/cta_2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Clients -->